* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.wrap-1200 {
 max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

body {
  color: white;
  background-image: url(slika2.jpg);
}

.header {
  padding: 60px 20px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  font-size: 10px;
  font-weight: bold;
  color: #7fffd4;
}
.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
}

/* LINKS STYLE */
.nav-links li {
  color: #e6e6e6;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}




/* ACTIVE BUTTON (Home) */
.nav-links .active {
  background: #3bebeb;
  padding: 10px 25px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}

/* HOVER EFFECT */
.nav-links li:hover {
  color: #070808;
  background-color: #00ffff;
  border-radius: 10px;
  padding: 10px 15px;
}
.logo-image {
  width: 100px;
  height: 100px;
}
.hero {
  text-align: center;
  display: flex;
  justify-content:center;
  align-items: center;
}
.TITLE {
  text-align: center;
  color: #00ffff;
  font-size: x-large;
  text
}
.left-img{
  width: 300px;
}

.hero h1 {
  font-size: 58px;
  color: #7fffd4;
  margin-top: -50px;
}
.card {
  width: 500px;
  background: linear-gradient(135deg, #cce5d0, #9fd3d3);
  padding: 30px;
  border-radius: 10px;
  color: black;
  border: 3px solid #2c7a7b;
  position: relative;
  left: 100px;
}
.card h2 {
  margin-bottom: 20px;
}
.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
stats div {
  border-right: 1px solid black;
  padding: 0 10px;
}
/*This is second sectionn*/
.Work {
  position: relative;
  height: 100vh;
  background: url("background.jpg") no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.Section-me1{
  margin: 0;
}

.title {
  position: relative;
  color: #00f2e2;
  
  font-size: 45px;
  margin-bottom: 40px;
  z-index: 1;
}
.content {
  position: relative;
  display: flex;
  gap: 150px;
  align-items: center;
  z-index: 1;
}
.table {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 12px;
  width: 260px;
  text-align: center;
  color: white;
  backdrop-filter: blur(10px);
}
.table img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}
.table h3 {
  margin: 1opx o;
}
.table p {
  font-size: 14px;
  margin-bottom: 10px;
}
.table button {
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  background: #00bfa6;
  color: white;
  cursor: pointer;
}
.text {
  max-width: 500px;
  color: white;
}
.text h2 {
  font-size: 32px;
  margin-bottom: 15px;
}
.text p {
  line-height: 1.6;
  margin-bottom: 20px;
}
.btn {
  text-decoration: none;
  padding: 10px 20px;
  background: #00bfa6;
  color: white;
  border-radius: 20px;
  font-size: 14px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.container-reverse {
  flex-direction: row-reverse;
  position: relative;
  left: 700px;
  margin-top: 150px;
}
.text-box {
  background-color: #3a6b6b;
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  position: relative;
  left: 315px;
  z-index: 10;
}
.text-box h2 {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: bold;
}
text-box p {
  margin-bottom: 20px;
  color: #555;
  line-height: 1.6;
}
button {
  padding: 10px 20px;
  border: none;
  background: #00bfa6;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.image-box img {
  width: 430px;
  height: auto;
 
  object-fit: cover;
  position: relative;  
  right: 430px;
  z-index: 5;
}
.container .image-box img {
  border-radius: 10px; 
}
.container-reverse .image-box img {
  right: 300px;
  width: 400px;
 
}
.container-reverse .text-box {
  left: 80px;
  bottom: 330px;
}
.footer {
  background-color: #6f8f8b;
  padding: 50px 80px;
  color: black;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.newsletter {
  display: flex;
  gap: 15px;
  margin: 10px 0;
}

.newsletter input {
  padding: 10px;
  width: 220px;
  border: 1px solid #ccc;
}

.newsletter button {
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}
.newsletter button:hover {
  background-color: #00ffff;
  color: black;
}
.right {
  display: flex;
  align-items: center;
}

.contact-btn {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background: lightgray;
  cursor: pointer;
}
.contact-btn:hover {
  background-color: #00f2e2;
  color: #070808;
}

hr {
  margin: 40px 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.socials i {
  font-size: 30px;
  margin-right: 15px;
  cursor: pointer;
}

.socials i:hover {
  color: white;
}
.footer-bottom p:hover i {
  background: black;
  color: white;
  transition: 0.3s;
}
.footer-bottom P:hover {
  font-weight: bold;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/*This is for About*/


.About-TITLE {
  font-size: 30px;
  color: #00f2e2;
  margin-top: 30px;
} 
.About-section {
    padding: 50px;
    display: flex;
    justify-content: center;
}
.green-card {
  position: relative;
    width: 550px;
    display: flex
}
  .green-card img {
  width: 79%;
    height: auto;
    padding: 24px;
    margin-left: -207px;
}
.green-box {
  position: relative;
    width: 100%;
    display: flex;
    align-items: anchor-center;
    flex: 1
    
    
}

.green-box p{
  font-size: 20px;
    white-space: normal;
    word-break: break-word;
    color: #74cdd5;
}
nav ul li a {
  text-decoration: none;
  color: white;
}